*{
    padding: 0;
    margin: 0;
}
a{
    color: white;
}
.wrapper{
    display: grid;
    background-color: bisque;
    padding-bottom: 5em;
}
.numbers{
    display: flex;
    justify-self: center;
}
h1{
    margin: 1em 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.ost{
    margin: 0 40px;
    background-color: rgb(27, 24, 24);
    color: rgba(255, 255, 255, 0.815);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 10px;
    text-align: center;
    width: 100px;
    border-radius: 10px;
}
.ost .name{
    font-weight: bold;
    color: white;
}
.osteliste{
    margin: 40px 0;
    display: flex;
    justify-self: center;
    justify-items: space-between;
}
.links{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}
.links a{
    color: rgb(27, 24, 24);
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgb(27, 24, 24);
    padding: 0;
    margin: 0;
    font-size: 30px;
}
ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}